﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Collections.Generic;
@using Firstrand.Models;
@using Firstrand.Controllers;
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = "WebBasePerspectives.cshtml";

    var mainCategory = Umbraco.Content(2063);
    var articles =
        Model.Content.Site()
        .FirstChild("perspectives")
        .Children("article")
        .Where(x => x.IsVisible() && x.GetPropertyValue<DateTime>("publishDate") <= DateTime.Now)
        .OrderBy("createDate desc").OrderBy("updateDate desc").OrderBy("publishDate desc");
}
@{
    // check if current page is Main category ie  /categories
    if (CurrentPage.IsEqual(mainCategory))
    {
        //Html.RenderAction("RenderMainCategory", "Categories");
    }
    // check if current page is sub category ie /categories/money
    else if (CurrentPage.DocumentTypeId == 1167)
    {
        <div class="row articles-list">
            @foreach (var article in articles)
            {
                var category = article.GetPropertyValue<IPublishedContent>("category");
                IPublishedContent author = article.GetPropertyValue<IPublishedContent>("author");

                var date = article.GetPropertyValue<DateTime>("publishDate");
                string imageUrl = article.GetPropertyValue<IPublishedContent>("articleImage").Url;
                if (Model.Content.Name == category.Name)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                        <div class="caption-container mb-4">
                            <a href="@article.Url">
                                <div class="caption" style="background: url(@imageUrl) no-repeat left top / cover;">
                                    <div class="caption-info"></div>
                                </div>
                            </a>
                            <div class="caption-info">
                                <p class="title">
                                    <a href="@article.Url" class="">@article.Name</a>
                                </p>
                                <p class="description">
                                    @article.GetPropertyValue("articleIntro")
                                </p>
                                <p class="post-info">
                                    @{
                                        if (author != null)
                                        {
                                            @date.ToString("MM.yyyy") @:| @author.Name
                                        }
                                        else
                                        {
                                            @date.ToString("MM.yyyy") @:| Staff Writer
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}