﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = null;
}

@{Html.RenderAction("RenderTop", "SiteLayout");}
@{Html.RenderAction("RenderTopMenu", "SiteLayout");}

<!-- /Heading section -->

<header class="jumbotron">
    <div class="map-frame">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.936851263109!2d28.054171315027972!3d-26.100979983483928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95732f26549b3b%3A0x6976238775857e33!2sFirstRand+Bank+Ltd!5e0!3m2!1sen!2s!4v1508344021503"
                width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</header>

<!-- Page content -->
<section class="container contact">
    
   <div class="row section-heading">
            <div class="col-lg-10 col-md-10">
                <h1 class="heading">
get in <span>touch</span>
                </h1>
                <div class="lead">

                </div>
            </div>
        </div>
    
    

    <div class="">
        <div class="row" style="font-size:12px;">

            <div class="col-md-4">

                <img src="/images/icons/address.png" alt="" class="img-fluid float-left" style="width: 30px;">
    
                      <div class="row mt-2">
                    
                    <div class="col-md-6">
                        
                         
                         <h6>Physical Address</h6>
                    <ul class="list-unstyled">
                        <li> 4 Merchant Place</li>
                        <li> Corner Fredman Drive &</li>
                        <li> Rivonia Road</li>
                        <li> Sandton</li>
                        <li> 2196</li>
                    </ul>
                        
                    </div>
                    <div class="col-md-6">
                        
                         <h6>Postal Address</h6>
                    <ul class="list-unstyled">
                    
                        <li> PO Box 650149</li>
                        <li> Benmore, 2010</li>
                    </ul>
                        
                    </div>
                    
                    
                </div>

              
            </div>

            <div class="col-md-3 border-L">
                <img src="/images/icons/telephone.png" alt="" class="img-fluid float-left" style="width: 30px;">
                <div class="phone row mt-2">
                    
                    <div class="col-md-12">
                        
                         <ul class="list-unstyled">
                        <p><strong>T:</strong><small><a href="tel:+2711 282 1808">+2711 282 1808</a></small></p>
                        <p><strong>F:</strong><small>+2711 282 8088</small></p>
                    </ul>
                        
                    </div>
                   
                       
                   
                    
                </div>
            </div>

            <div class="col-md-5 border-L">
                <img src="/images/icons/email.png" alt="" class="img-fluid float-left" style="width: 30px;">
                
                <div class="row mt-2">
                    
                    <div class="col-lg-6 col-md-12">
                      <p><strong>Human resources</strong><br><small><a href="mailto:hr@firstrand.co.za">hr@firstrand.co.za</a></small></p>
                    </ul>
                        
                    </div>
                    <div class="col-lg-6 col-md-12">
                     <p><strong>Marketing and advertising </strong><br><small><a href="mailto:investor.relations@firstrand.co.za">investor.relations@firstrand.co.za</a></small></p>
                    </ul>
                        
                    </div>
                     <div class="col-lg-6 col-md-12">
                       <p><strong>Investor relations and media </strong><br><small><a href="mailto:investor.relations@firstrand.co.za">investor.relations@firstrand.co.za</a></small></p>
                    </ul>
                        
                    </div>
                    <div class="col-lg-6 col-md-12">
                        
                         <p><strong>BEE Credentials </strong><br><small><a href="mailto:transformation@firstrand.co.za">transformation@firstrand.co.za</a></small></p>
                   
                        
                    </div>
                    
                    
                </div>

            </div>



        </div>
    </div>

</section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}