﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}



            <div class="content">
                <div>
                    <p>
                        The FirstRand Staff Assistance Trust is constituted as a perpetual trust registered with the
                        Master of the High Court and SA Revenue Service, and is governed by a trust deed.
                    </p>
                    <p>
                        The trust's mandate is to assist black employees of the companies within the FirstRand group
                        and
                        their immediate families with their educational, healthcare, and other needs.
                    </p>
                    <p>
                        For the 2018
                        school cycle, the trust offered assistance to employees’ children where employees earned
                        less than R300 000 per annum as at 28 February 2017, and the employees were in full-time
                        employment on 1 January 2017. Support for learners from grade R to 12 was considered, and
                        qualifying expenses included school fees, transport, books and uniforms.
                    </p>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-5 border-right-grey">
                        <div class="svg-staff-assistance-trust">
                            <div>
                                <p class="mb-0 lead">
                                    FirstRand Staff Assistance trust CSI spend (education)*
                                </p>
                                <p class="small">
                                    (R million)
                                </p>
                            </div>
                            <object data="" type="">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 229 560">
                                    <defs>
                                        <style type="text/css">
                                            .cls-1 {
                                                fill: #e6e7e8;
                                                stroke: #000;
                                                stroke-miterlimit: 10;
                                                stroke-width: 0.3px;
                                            }

                                            .cls-2 {
                                                font-size: 16.18px;
                                                font-family: HelveticaNeueLTStd-LtCn, Helvetica Neue LT Std;
                                            }

                                            .cls-2, .cls-3 {
                                                fill: #231f20;
                                            }

                                            .cls-3 {
                                                font-size: 17.53px;
                                                font-family: HelveticaNeueLTStd-Cn, Helvetica Neue LT Std;
                                            }
                                        </style>
                                    </defs>
                                    <title>graphs</title>
                                    <rect class="cls-1" x="13.92" y="465.72" width="40.58" height="60.99" />
                                    <rect class="cls-1" x="54.5" y="398.01" width="40.58" height="128.71" />
                                    <rect class="cls-1" x="95.08" y="319.38" width="40.58" height="207.33" />
                                    <rect class="cls-1" x="135.67" y="185.34" width="40.58" height="341.37" />
                                    <rect class="cls-1" x="176.25" y="11.26" width="40.58" height="515.45" />
                                    <text class="cls-2" transform="translate(59.26 549.7)">2015</text>
                                    <text class="cls-2" transform="translate(18.68 549.7)">2014</text>
                                    <text class="cls-2" transform="translate(99.84 549.7)">2016</text>
                                    <text class="cls-2" transform="translate(140.42 549.7)">2017</text>
                                    <text class="cls-2" transform="translate(181.01 549.7)">2018</text>
                                    <text class="cls-3" transform="translate(188.12 34.05)">24</text>
                                    <text class="cls-3" transform="translate(147.54 207.8)">16</text>
                                    <text class="cls-3" transform="translate(106.96 344.53)">10</text>
                                    <text class="cls-3" transform="translate(70.58 418.76)">6</text>
                                    <text class="cls-3" transform="translate(30 486.99)">3</text>
                                </svg>
                            </object>
                            <div>
                                <ul class="list-asterix">
                                    <li>
                                        The trust's financial year is January - December. The reported CSI number
                                        is the
                                        audited spend for the previous calendar year.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-staff-assistance-trust">
                            <p class="lead">
                                For the 2017 school cycle the trust assisted <span class="larger">3 662</span>
                                employees with their
                                children's school expenses, to the value of
                            </p>
                            <p class="number">
                                R23.6 <br> million.
                            </p>
                            <p class="small">
                                This represents a fulfilment rate of
                            </p>
                            <p class="number">
                                97%
                            </p>
                            <p class="small">
                                of total staff applications.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
 