﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = null;
}

@{Html.RenderAction("RenderTop", "SiteLayout");}
@{Html.RenderAction("RenderTopMenu", "SiteLayout");}

<!-- /Heading section -->

<header class="jumbotron">
    <div class="map-frame">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.936851263109!2d28.054171315027972!3d-26.100979983483928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95732f26549b3b%3A0x6976238775857e33!2sFirstRand+Bank+Ltd!5e0!3m2!1sen!2s!4v1508344021503"
                width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</header>

<!-- Page content -->
<section class="page-content p-0">

    <div class="container-fluid contact p-0">
        <div class="row">

            <div class="col-md-4">

                <img src="/images/icons/email-icon.png" alt="" class="img-fluid" style="width: 20px;">

                <div class="address">


                    <h4>Address:</h4>
                    <ul class="list-unstyled">
                        <li> T-Mobile Customer Relations</li>
                        <li> PO Box 37380</li>
                        <li> Albuquerque, NM 87176-7380</li>
                    </ul>

                    <h4>Address:</h4>
                    <ul class="list-unstyled">
                        <li> T-Mobile Customer Relations</li>
                        <li> PO Box 37380</li>
                        <li> Albuquerque, NM 87176-7380</li>
                    </ul>


                </div>
                

                   
                
            </div>

            <div class="col-md-4">
                <div class="phone">
                    <h5>Phone:</h5>
                    <ul class="list-unstyled">
                        <li> +91- 8800XXXXXX34</li>
                        <li> +91- 8800XXXXXX34</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">

                <div class="email">
                    <h5>Email:</h5>
                    <ul class="list-unstyled">
                        <li> info@email.com</li>
                        <li> info@email.com</li>
                    </ul>
                </div>




            </div>



        </div>
    </div>

</section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}