﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers
@using Firstrand.Models

@*// This template holds all /perspectives sectionS layouts in colab with /Perspectives.cshtml  *@

@{
    Layout = null;

    Html.RenderAction("RenderTop", "SiteLayout");
}

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg main-menu fixed-top navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="logo" src="~/images/logos/logo.png"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
                aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item none-sm">
                    <a class="nav-link" href="~/the-group/about-firstrand">The group</a>
                </li>
                <li class="nav-item dropdown none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="groupDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        The Group
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupDropdown">
                        <a class="dropdown-item" href="~/the-group/about-firstrand">About FirstRand</a>
                        <a class="dropdown-item" href="~/the-group/portfolio-of-operating-businesses">Portfolio of operating businesses</a>
                        <a class="dropdown-item" href="~/the-group/ownership-and-simplified-legal-structure">Ownership and simplified legal structure</a>
                        <a class="dropdown-item" href="~/the-group/management-and-board">Management and board</a>
                        <a class="dropdown-item" href="~/the-group/regional-presence-and-operations-in-other-markets">Regional presence <br/> and operations in other markets</a>
                        <a class="dropdown-item" href="~/the-group/bee-credentials">BEE credentials</a>
                    </div>
                </li>
                <li class="nav-item none-sm">
                    <a class="nav-link" href="~/investors/investor-information">Investors</a>
                </li>
                <li class="nav-item dropdown the-group-sm none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="investorsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Investors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="investorsDropdown">
                        <a class="dropdown-item" href="~/investors/investor-information">Investor information</a>
                        <a class="dropdown-item" href="~/investors/financials">Financial results</a>
                        <a class="dropdown-item" href="~/investors/integrated-reports">Integrated reports</a>
                        <a class="dropdown-item" href="~/investors/sens">SENS</a>
                        <a class="dropdown-item" href="~/investors/governance/governance-and-compliance">Governance</a>
                        <a class="dropdown-item" href="~/investors/debt-programmes/debt-programmes">Debt programmes</a>
                    </div>
                </li>
                <li class="nav-item none-sm">
                    <a class="nav-link" href="~/society/social-investing">Society</a>
                </li>
                <li class="nav-item dropdown the-group-sm none-md">
                    <a class="nav-link dropdown-toggle" href="#" id="societyDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Society
                    </a>
                    <div class="dropdown-menu" aria-labelledby="societyDropdown">
                        <a class="dropdown-item" href="~/society/social-investing">Social investing</a>
                        @*<a class="dropdown-item" href="~/society/social-investing">Foundations</a>*@
                        <a class="dropdown-item" href="~/society/foundations/firstrand-foundation">firstrand foundation</a>
                        <a class="dropdown-item" href="~/society/foundations/firstrand-empowerment-fund/">firstrand empowerment foundation</a>
                        <a class="dropdown-item" href="~/society/foundations/knowledge-sharing/">knowledge sharing</a>
                        <a class="dropdown-item" href="~/society/foundations/staff-assistance-trust/">staff assistance trust</a>
                        <a class="dropdown-item" target="_blank" href="https://bursaries.firstrand.co.za/">Scholarships</a>
                        <a class="dropdown-item" href="~/society/firstrand-volunteers">Firstrand volunteers</a>
                        <a class="dropdown-item" href="~/society/social-investing">Beyond painting classrooms</a>
                        <a class="dropdown-item" href="~/society/beyond-painting-classrooms/beyond-painting-classrooms/">Thought leadership CSI</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/perspectives/">Perspectives</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="text-muted" href="#" id="searchToggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
            </form>
        </div>
    </div>
</nav>
<!-- /Navigation -->
<div class="searchOverlay" id="searchOverlay">
    <a class="navbar-brand" href="~/index.html"><img class="logo logo-inverse" src="~/images/logos/logo.png"> </a>
    <button type="button" class="close" aria-label="Close" id="closeSearch">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex h-100">
        <div class="row my-auto mx-auto my-auto">
            <div class="col-12">
                <div class="input-group">
                    <form class="search-form" action="~/search/" method="GET">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control form-control-lg" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-outline btn-lg" type="submit">
                                    <span aria-hidden="true"><i class="fa fa-search"></i></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var Banner = Model.Content.GetPropertyValue<IPublishedContent>("banner");
    var BannerParent = Model.Content.Parent.GetPropertyValue<IPublishedContent>("banner");
    if (CurrentPage.DocumentTypeAlias == "perspectives" | CurrentPage.DocumentTypeAlias == "subCategory")
    {
        if (Model.Content.GetPropertyValue<IPublishedContent>("banner") != null)
        {
            <header class="jumbotron">
                <img src="@{ if (Banner != null) {@Banner.Url} else if (BannerParent != null) {@BannerParent.Url}}" class="banner">
            </header>
        }
        else if (BannerParent != null)
        {
            <header class="jumbotron">
                <img src="@{ if (BannerParent != null) {@BannerParent.Url}}" class="banner">
            </header>
        }
        else
        {
            <header class="jumbotron">
                <img src="~/images/banners/perspectives.jpg" class="banner">
            </header>
        }
    }
}

<!-- Page content -->
            <section class="page-content">
                <!-- Sidebar -->
                <div class="nav-sidebar">
                    <div class="sidebar-sticky @{if (CurrentPage.DocumentTypeAlias == "article") { @("sidebar-perspectives")} else {@(null)} }">
                        <h4>Categories</h4>
                        <ul class="list-group list-unstyled" id="sidenav">
                            <li>
                                <a href="~/perspectives/" class="list-group-item list-group-item-action">
                                    All
                                </a>
                            </li>
                            @{
                                var categories = Model.Content.Site().FirstChild("mainCategory").Children().Where(x => x.IsVisible());
                                var t = 0;
                                foreach (var category in categories.Where("Visible"))
                                {
                                    t++;

                                    <li>
                                        <a href="@category.Url" class="list-group-item list-group-item-action">
                                            @category.Name
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /Sidebar -->
                <div class="container">
                    @{if (CurrentPage.DocumentTypeAlias == "perspectives")
                        {
                            <div class="row">
                                <div class="col-xl-10 col-lg-9 col-md-9 mx-auto">
                                    <h1 class="heading">
                                        <span>
                                            @{ if (CurrentPage.HasValue("title"))
                                                {
                                                    @Umbraco.Field("title")
                                                }
                                                else
                                                {
                                                    @CurrentPage.Name
                                                }
                                            }
                                        </span>
                                    </h1>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p class="lead">
                                                @{ if (CurrentPage.HasValue("lead"))
                                                    {
                                                        @Html.Raw(@Umbraco.Field("lead"))
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <div class="@{if (CurrentPage.DocumentTypeAlias == "article") { @("col-xl-12 col-lg-9 col-md-12")} else {@("col-xl-10 col-lg-9 col-md-10 ")} } mx-auto">
                            <div class="content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>.

                <div class="@{if (CurrentPage.DocumentTypeAlias != "perspectives") {@("hidden-desktop")} }">
                    <!-- Sidebar - left -->
                    @*<div class="nav-sidebar-left">
                        <div class="sidebar-sticky" @{if (CurrentPage.DocumentTypeAlias == "article") { @("sidebar-perspectives")} else {@(null)} }">
                            <h4>Categories</h4>
                            <ul class="list-group list-unstyled" id="sidenav">
                                <li>
                                    <a href="~/perspectives/" class="list-group-item list-group-item-action">
                                        All
                                    </a>
                                </li>
                                @{
                            var categories = Model.Content.Site().FirstChild("mainCategory").Children().Where(x => x.IsVisible());
                            var t = 0;
                            foreach (var category in categories.Where("Visible"))
                            {
                                t++;

                                <li>
                                    <a href="@category.Url" class="list-group-item list-group-item-action">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        }
                            </ul>
                        </div>
                    </div>*@
                    <!-- /Sidebar - left -->
                </div>
                <div class="@{if (CurrentPage.DocumentTypeAlias != "subCategory") {@("hidden-desktop")} }">
                    <!-- Sidebar - left -->
                    @*<div class="nav-sidebar-left">
                        <div class="sidebar-sticky" @{if (CurrentPage.DocumentTypeAlias == "article") { @("sidebar-perspectives")} else {@(null)} }">
                            <h4>Categories</h4>
                            <ul class="list-group list-unstyled" id="sidenav">
                                <li>
                                    <a href="~/perspectives/" class="list-group-item list-group-item-action">
                                        All
                                    </a>
                                </li>
                                @{
                            var categories = Model.Content.Site().FirstChild("mainCategory").Children().Where(x => x.IsVisible());
                            var t = 0;
                            foreach (var category in categories.Where("Visible"))
                            {
                                t++;

                                <li>
                                    <a href="@category.Url" class="list-group-item list-group-item-action">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        }
                            </ul>
                        </div>
                    </div>*@
                    <!-- /Sidebar - left -->



                </div>


            </section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}