﻿<div class="empowerment-foundation">
    <div class="row border-bottom-grey">
        <div class="col-lg-6 border-right-grey">
            <p>
                The FirstRand Empowerment Foundation was established in 2005 as part of the FirstRand
                Broad-Based Black Economic Empowerment (B-BBEE) transaction. The parties to the
                foundation are FirstRand Limited, FirstRand Bank Limited, Kagiso Charitable Trust, The
                WDB Trust, WDB Investment Holdings (Proprietary) Limited, Mineworkers Investment Trust
                and MIC
                Financial Holdings (Proprietary) Limited. The founding objective was to facilitate the
                transformation of FirstRand through the acquisition by the BEE beneficiaries of a
                meaningful equity interest in the group.
            </p>

            <p>
                The majority of trustees are black persons as defined in the
                Financial Sector Charter.
            </p>

            <p>
                The B-BBEE transaction vested in 2005, and following its vesting,
                FREF has a significant unencumbered endowment of FirstRand, MMI and Discovery shares.
                The dividend income on these shares is used to address poverty, unemployment
                and inequality through systemic social investments in the education sector.
                Specifically, FREF's mandate is to provide, promote and fund educational development in
                relation to
                disadvantaged South Africans, particularly but not limited to, the financial
                services industry.
            </p>
            <p>
                The FirstRand Empowerment Foundation takes a proactive approach to identifying social
                investment opportunities. The Foundation works with potential partners to co-design
                proposals and
                initiatives that have clear systemic possibilities. With this in mind, the Foundation
                does not have open calls for proposals.
            </p>
        </div>
        <div class="col-lg-6">
            <h5 class="lead">
                FirstRand Empowerment Foundation CSI spend* (education)
            </h5>
            <div class="csi-spend">
                <object data="" type="" class="csi-spend">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 232 560">
                        <defs>
                            <style>
                                .cls-1_ {
                                    fill: #e6e7e8;
                                    stroke: #000;
                                    stroke-miterlimit: 10;
                                    stroke-width: 0.3px;
                                }

                                .cls-2_ {
                                    font-size: 16.24px;
                                }

                                .cls-2_, .cls-3_ {
                                    fill: #231f20;
                                }

                                .cls-3_ {
                                    font-size: 17.59px;
                                }
                            </style>
                        </defs>
                        <title>graphs</title>
                        <rect class="cls-1_" x="11.92" y="502.18" width="40.73" height="21.44" />
                        <rect class="cls-1_" x="52.65" y="485.12" width="40.73" height="38.49" />
                        <rect class="cls-1_" x="93.38" y="472.05" width="40.73" height="51.56" />
                        <rect class="cls-1_" x="134.11" y="6.26" width="40.73" height="517.35" />
                        <rect class="cls-1_" x="174.85" y="157.48" width="40.73" height="366.14" />
                        <text class="cls-2_" transform="translate(57.43 546.69)">2015</text>
                        <text class="cls-2_" transform="translate(16.69 546.69)">2014</text>
                        <text class="cls-2_" transform="translate(98.16 546.69)">2016</text>
                        <text class="cls-2_" transform="translate(138.89 546.69)">2017</text>
                        <text class="cls-2_" transform="translate(179.62 546.69)">2018</text>
                        <text class="cls-3_" transform="translate(184.65 181.02)">83</text>
                        <text class="cls-3_" transform="translate(141.81 30.02)">117</text>
                        <text class="cls-3_" transform="translate(99.1 493.55)">12**</text>
                        <text class="cls-3_" transform="translate(68.79 503.09)">9</text>
                        <text class="cls-3_" transform="translate(28.05 519.95)">5</text>
                    </svg>
                    <hr>
                    <ul class="list-asterix ">
                        <li>
                            The foundation's financial year is January – December. The reported CSI
                            number
                            is the audited spend for the previous calendar year.
                        </li>
                        <li>
                            The significant increase
                            noted from 2016 is due to the debt being full paid up and the full dividend
                            being distributed to the trust for CSI initiatives.
                        </li>
                    </ul>
                </object>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12">
            <div class="social-investing-share">
                <object data="" type="">

                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 888 560">
                        <defs>
                            <style>
                                .cls-1, .cls-5 {
                                    fill: none;
                                }

                                .cls-2 {
                                    clip-path: url(#clip-path);
                                }

                                .cls-3 {
                                    fill: #f3f1f1;
                                }

                                .cls-4 {
                                    fill: #e1e9eb;
                                }

                                .cls-5 {
                                    stroke: #231f20;
                                }

                                .cls-6 {
                                    font-size: 24.93px;
                                }

                                .cls-11, .cls-6, .cls-7 {
                                    fill: #231f20;
                                }

                                .cls-7 {
                                    font-size: 39.47px;
                                }

                                .cls-8 {
                                    letter-spacing: -0.01em;
                                }

                                .cls-9 {
                                    letter-spacing: -0.01em;
                                }

                                .cls-10 {
                                    letter-spacing: 0em;
                                }

                                .cls-11 {
                                    font-size: 41.84px;
                                }

                                .cls-12 {
                                    letter-spacing: -0.02em;
                                }

                                .cls-13 {
                                    letter-spacing: 0em;
                                }
                            </style>
                            <clipPath id="clip-path">
                                <rect class="cls-1" x="9" y="6.82" width="900" height="540.54" />
                            </clipPath>
                        </defs>
                        <title>graphs</title>
                        <g class="cls-2">
                            <path class="cls-3"
                                  d="M329.62,114.9l-.17-.11-2.92,0c-119.46,0-216.3,96.84-216.3,216.3s96.84,216.3,216.3,216.3,216.3-96.84,216.3-216.3A215.37,215.37,0,0,0,519.5,233.3L330.93,327.59Z" />
                            <path class="cls-4"
                                  d="M334.88,114.62l1.31,205.08L516.29,229s-40.75-107.8-181.42-114.37" />
                        </g>
                        <polyline class="cls-5" points="399.44 168.52 399.44 130.4 591.38 131.71" />
                        <polyline class="cls-5" points="327.8 409.76 327.8 371.63 592.69 372.95" />
                        <text class="cls-6" transform="translate(622.82 145.46)">Skills</text>
                        <text class="cls-6" transform="translate(676.81 145.46)"></text>
                        <text class="cls-6" transform="translate(622.82 172.46)">Development</text>
                        <text class="cls-7" transform="translate(622.82 241.01)">R25 000 000</text>
                        <text class="cls-6" transform="translate(621.23 380.77)">Basic</text>
                        <text class="cls-6" transform="translate(680.33 380.77)"></text>
                        <text class="cls-6" transform="translate(621.23 407.78)">Education</text>
                        <text class="cls-7" transform="translate(621.23 476.33)">
                            R111
                            <tspan class="cls-8" x="92.16" y="0"></tspan>
                            <tspan x="102.74" y="0">992</tspan>
                            <tspan class="cls-9" x="168.57" y="0"></tspan>
                            <tspan class="cls-10" x="179.15" y="0">172</tspan>
                        </text>
                        <text class="cls-11" transform="translate(286.37 448.9)">82%</text>
                        <text class="cls-11" transform="translate(357.37 224.69)">18%</text>
                        <text class="cls-6" transform="translate(44.39 57.38)">
                            App
                            <tspan class="cls-12" x="44.32" y="0">r</tspan>
                            <tspan class="cls-13" x="51.75" y="0">oved social inveting for 2018</tspan>
                        </text>
                    </svg>
                </object>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mx-auto text-center ">
            <div class="mt-5 mb-3">
                <a href="#" target="_blank">
                    <span>
                        <img src="../images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        3 - 5 year commitments
                    </small>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="bg-grey p-4 text-white content-block-with-arrow w-50 mx-auto">
                <p class="mb-0">
                    Overview of the foundation's significant social investments
                </p>
            </div>
        </div>
    </div>

    <div class="row big-bet-container">
        <div class="col-lg-4">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h6 class="card-title">
                        Data driven districts
                    </h6>

                    <p class="card-text">
                        Works in partnership with the Department of Basic Education (DBE) and aims to
                        support improved learner outcomes through the increased quality, availability,
                        analysis and use of education data
                    </p>

                    <p class="card-subtitle">
                        Current social investment
                    </p>

                    <p class="number">
                        R15.2 <span>million</span>
                    </p>

                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th><span>2016</span></th>
                                <td>R19.0 <span>million</span></td>
                            </tr>
                            <tr>
                                <th><span>2017</span></th>
                                <td>R23.6 <span>million</span></td>
                            </tr>
                            <tr>
                                <th><span>2018</span></th>
                                <td>R24.9 <span>million</span></td>
                            </tr>
                            <tr>
                                <th><span>2019</span></th>
                                <td>R24.4 <span>million</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h6 class="card-title">
                        HARAMBEE YOUTH EMPLOYMENT ACCELERATOR
                    </h6>

                    <p class="card-text">
                        Harambee aims to confront the “demand-supply mismatch” in the economy by
                        understanding what entry-level jobs exist in the economy and understanding what
                        behaviours and skills are needed to prepare young people to succeed in the world
                        of work
                    </p>

                    <p class="card-subtitle">
                        Current social investment
                    </p>

                    <p class="number">
                        R25 <span>million</span>
                        <span class="per-year">
                            per year for five years
                        </span>
                    </p>

                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th><span>2016</span></th>
                                <td>
                                    25 <span>million</span>
                                </td>
                            </tr>
                            <tr>
                                <th><span>2016 - <br>2020</span></th>
                                <td>
                                    <span class="small">totaling</span> <br>
                                    R23.6 <span>million</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h6 class="card-title">
                        PUBLIC SCHOOL PARTNERSHIPS
                    </h6>

                    <p class="card-text">
                        Public School Partnerships has been initiated by a National Donor Group
                        interested in pioneering a new model of public school provisioning in South
                        Africa: publicly financed, privately managed schools.
                    </p>

                    <p class="card-subtitle">
                        Current social investment
                    </p>

                    <p class="number">
                        R27 <span>million</span>
                    </p>

                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th><span>2016</span></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h6 class="card-title">
                        KAGISO SHANDUKA TRUST
                    </h6>

                    <p class="card-text">
                        The Kagiso Shanduka Trust (KST) aims to support the development of more than 300
                        schools in the Fezile Dabi and Motheo districts of the Free State, as well as
                        build the capacity of the district itself.
                    </p>

                    <p class="card-subtitle">
                        Current social investment
                    </p>

                    <p class="number">
                        R34 <span>million</span>
                    </p>

                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th><span>2016</span></th>
                                <td>R33 <span>million</span></td>
                            </tr>
                            <tr>
                                <th><span>2017</span></th>
                                <td>R33 <span>million</span></td>
                            </tr>
                            <tr>
                                <th><span>2018</span></th>
                                <td>R34 <span>million</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h6 class="card-title">
                        NAL'IBALI TRUST
                    </h6>

                    <p class="card-text">
                        The Nal’ibali Trust is a national reading-for-joy campaign established in 2011.
                        It is built on simple logic: that a well-established culture of reading can be a
                        game-changer for education in South Africa
                    </p>

                    <p class="card-subtitle">
                        Current social investment
                    </p>

                    <p class="number">
                        R15 <span>million</span>
                    </p>

                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th><span>2016</span></th>
                            </tr>
                            <tr>
                                <th><span>2017</span></th>
                                <td>R15 <span>million</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h6 class="card-title">
                        NATIONAL EDUCATION COLLABORATION TRUST
                    </h6>

                    <p class="card-text">
                        The National Education Collaboration Trust (NECT) was established in 2013 as a
                        multi-stakeholder body tasked with rolling out education improvement initiatives
                        – in direct partnership with government, business, labour and civil society – to
                        help achieve National Development Plan (NDP) goals.
                    </p>

                    <p class="card-subtitle">
                        Current social investment
                    </p>

                    <p class="number">
                        R27 <span>million</span>
                        <span class="per-year">
                            per year for five years
                        </span>
                    </p>

                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th><span>2016 - <br> 2020</span></th>
                                <td><span class="small">totaling</span><br> R135 million</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>


</div>




