﻿<div class="monitoring-evaluation">
  
    <div class="row education-programmes">
        <div class="col-lg-6">
            <div>
                <img src="~/images/content/foundation-corporate.png" alt=""
                     class="img-fluid knowledge-sharing">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        FirstRand Foundation corporate social investment strategy
                    </h4>
                </div>
                <p>
                    This document outlines the strategic intent of the Foundation, its guiding
                    principles and strategic priorities, focus areas of investment, structure, and
                    governance. In essence, this strategy provides a synopsis of how the Foundation
                    "does business".
                </p>

                <a href="~/media/1514/fsr20foundation20csi20strategy202015-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
    </div>
    <div class="row education-programmes">
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        FNB tertiary bursary programme
                    </h4>
                    <h5>
                        Free State school functionality assessment <br> <span>(September 2013)</span>
                    </h5>
                </div>

                <p>
                    This evaluation assesses the success and impact of the programme and provides
                    strategy recommendations to optimise programme impact.
                </p>
                <a href="~/media/1519/fnb20tertiary20bursary20programme20evaluation20report_executive20summary_2012-final-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        RMB environment programme
                    </h4>
                    <h5>
                        KZN school functionality assessment <span>(March 2013)</span>
                    </h5>
                </div>

                <p>
                    This report evaluates the effectiveness and relevance of the RMB environment
                    programme implemented across seven provinces over a period of three years.
                </p>

                <a href="~/media/1517/fnb20primary20education20programme_kzn20baseline20assessment20report_2013-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
    </div>
    <div class="row education-programmes">
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        RMB maths leadership and development programme
                    </h4>
                    <h5>
                        Evaluation report <span>(June 2012)</span>
                    </h5>
                </div>

                <p>
                    This report is an abridged version of the evaluation conducted to assess the
                    effectiveness of the programme, highlight success factors and determine the most
                    effective project model to deliver desirable outcomes
                </p>
                <a href="~/media/1521/rmb20maths20leadership20and20development20programme20evaluation20report_executive20summary_2013-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        FNB early childhood development (ECD) programme
                    </h4>
                    <h5>
                        Evaluation report <span>(March 2013)</span>
                    </h5>
                </div>
                <p>
                    This evaluation report assesses how effective the FNB ECD programme has been in
                    increasing access to ECD services for children; as well as how effectively programme
                    partners have capacitated emerging ECD centres and improved the quality of services
                    through ECD practitioner training.
                </p>

                <a href="~/media/1515/fnb20ecd20programme20evaluation20report_2013-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
    </div>
    <div class="row education-programmes">
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        FNB tertiary bursary programme
                    </h4>
                    <h5>
                        Evaluation report <span>(June 2013)</span>
                    </h5>
                </div>

                <p>
                    This evaluation assesses the success and impact of the programme and provides
                    strategy recommendations to optimise programme impact.
                </p>
                <a href="~/media/1519/fnb20tertiary20bursary20programme20evaluation20report_executive20summary_2012-final-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        FNB early childhood development (ECD) programme
                    </h4>
                    <h5>
                        Evaluation report <span>(November 2013)</span>
                    </h5>
                </div>
                <p>
                    This report evaluates the effectiveness and relevance of the RMB environment
                    programme implemented across seven provinces over a period of three years.
                </p>
                <a href="~/media/1515/fnb20ecd20programme20evaluation20report_2013-1.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>
            </div>
        </div>
    </div>
    <div class="previous-evaluation-reports">
        <h5 class="mb-3">
            Previous evaluation reports
        </h5>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-tab1" data-toggle="tab" href="#tab1"
                   role="tab" aria-controls="tab1" aria-selected="true">2018</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-tab2" data-toggle="tab" href="#tab2"
                   role="tab" aria-controls="tab2" aria-selected="false">2017</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-tab3" data-toggle="tab" href="#tab3"
                   role="tab" aria-controls="tab3" aria-selected="false">2016</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-tab4" data-toggle="tab" href="#tab4"
                   role="tab" aria-controls="tab4" aria-selected="false">2015</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-tab5" data-toggle="tab" href="#tab5"
                   role="tab" aria-controls="tab5" aria-selected="false">2014</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-tab6" data-toggle="tab" href="#tab6"
                   role="tab" aria-controls="tab5" aria-selected="false">2013</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        more
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">2012</a>
                        <a class="dropdown-item" href="#">2011</a>
                        <a class="dropdown-item" href="#">2010</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                 aria-labelledby="tab1">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB non-deal debt roadshow - May 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FirstRand's submission to Parliament on progress on
                                    transformation
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel"
                 aria-labelledby="tab3">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel"
                 aria-labelledby="tab4">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab5" role="tabpanel"
                 aria-labelledby="tab5">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab6" role="tabpanel"
                 aria-labelledby="tab6">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab7" role="tabpanel"
                 aria-labelledby="tab6">
                <table class="table table-dark table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    UBS financial services conference - Cape Town - Johan Burger
                                    (CEO)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    Debt investor presentation for FI function in London - 14
                                    June 2017
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt=""
                                     class="icon-pdf">
                            </th>
                            <td>
                                <a href="#" target="_blank">
                                    FRB debt investor update - Asia non-deal roadshow - June
                                    2017
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>