﻿<div class="bee-credentials">

    <h3 class="card-title wow fadeIn">
        Transformation within the group
    </h3>

    <p class="card-text">
        For over a decade FirstRand has complied and reported according to the relevant
        BEE scorecard at the time, however, FirstRand’s transformation efforts are
        concentrated in the five pillars outlined below.
    </p>

    <div class="bee-credentials mt-4 ">
        <div class="card-columns">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        A better macro environment
                    </h5>

                    <p>
                        The group strives to improve the macro environment by changing attitudes and
                        promoting confidence in our country. Through the FirstRand Foundation, the group
                        donates 1% of after-tax profits to carefully selected SED initiatives. FirstRand
                        has an active volunteers programme with matched funding. FirstRand’s philosophy
                        embraces the concept of diversity.
                    </p>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        Employment equity
                    </h5>

                    <p class="card-text">
                        The group aims to recruit and promote a disproportionately large number of black
                        individuals, and expose them to an empowered and diverse environment. The group
                        encourages employees to develop their skills and we offer leadership and women
                        development initiatives to build future leaders. Supporting the studies of
                        unemployed black people will have a positive effect on society and the group
                        embarked on several funding initiatives.
                    </p>
                </div>
            </div>
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        Investment imbalances
                    </h5>

                    <p>
                        FirstRand helps redress investment imbalances by financing development
                        infrastructure, affordable housing and agriculture, as well as providing cost
                        efficient and innovative access to financial services to previously
                        disadvantaged people in geographic locations where services were not previously
                        accessible.
                    </p>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        Development of black business
                    </h5>

                    <p>
                        The group procures from BEE-rated companies and, this year, had a special focus
                        on procuring from black-owned and black women-owned entities. Various business
                        units within the group offer finance to small black businesses and mentoring is
                        provided through our enterprise development initiatives. The supplier
                        development initiative was implemented at a group level.
                    </p>
                </div>
            </div>

            <div class="card scorecard wow fadeIn">
                <div class="card-body scorecard-body">
                    <h3 class="">
                        Scorecard
                    </h3>

                    <p>
                        The generic FSC BEE scorecard has the following components:
                    </p>
                    <ul>
                        <li>ownership</li>
                        <li>management and control</li>
                        <li>skills development</li>
                        <li>preferential procurement</li>
                        <li>empowerment financing, supplier and enterprise development</li>
                        <li>socio-economic development (SED) and consumer financial education</li>
                        <li>access to financial services</li>
                    </ul>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        Equitable ownership
                    </h5>

                    <p>
                        FirstRand has transferred significant ownership of the company to black
                        partners. FirstRand’s direct black ownership is 25.86% and black women ownership
                        12.85%. The group continues to facilitate the financing of ownership transfer of
                        other companies through BEE transactions through RMB. Over the past decade, RMB
                        has been known as one of the leaders in both financing and advising on BEE
                        deals.
                    </p>
                </div>
            </div>
            <img src="~/images/content/scorecard-bg.jpg" alt="" class="img-scorecard">
        </div>
    </div>
</div>