﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="panel-accordion">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="container wow fadeIn">
                    <div id="accordion" class="accordion">
                        <div class="card mb-0">
                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                <a class="card-title">
                                    Investor presentations
                                </a>
                            </div>
                            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    @{ var t = 1;}
                                    @for (var i = 2018 - 1; i > 2012; i -= 1)
                                    {
                                        <li class="@(i == 2019 ? "active" : null)">
                                            <a class="nav-link active" id="tab-tab1" data-toggle="tab" href="#tab_@t"
                                               role="tab" aria-controls="tab1" aria-selected="true">@i</a>
                                        </li>
                                        t++;
                                    }
                                    <li class="nav-item"> 
                                        <div class="dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                more
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                @for (var i = 2015 - 1; i >= 2003; i -= 1)
                                                {
                                                    <a class="dropdown-item" href="#tab_@t">@i</a>
                                                    t++;
                                                }
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    @{var j = 1;}
                                    @for (var i = 2019 - 1; i >= 2003; i -= 1)
                                    {
                                        <div class="tab-pane fade @(i == 2017 ? "active in" : null)" id="tab_@j">
                                            <table class="table table-dark table-sm table-borderless">
                                                @{ string year = i.ToString();}
                                                @RenderItemLoop(@year)

                                            </table>
                                        </div>
                                        j++;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@helper RenderItemLoop(string year)
{
    var selection =
        Umbraco.TypedContent(1715)
        .Children("investorPresentationsItem")
        .Where(x => x.IsVisible())
        .OrderBy("CreateDate");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        if (itemYear.Equals(@year))
        {
            <tr>
                <th scope="row">
                    <img src="~/images/content/icon-pdf.png" alt="pdf icon"
                         class="icon-pdf">
                </th>
                <td>
                    <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                        @item.Name
                    </a>
                </td>
            </tr>
        }
    }
}