﻿<div class="full-div">
    <iframe width="100%" height="40" class="tickershare" src="http://irhosted.profiledata.co.za/firstrand/2017_feeds/t02_intraday.htm" frameborder="0" allowfullscreen=""></iframe>
</div>